{% extends "base.html" %}
{% block title %}Create Course{% endblock %}

{% block content %}
<h2>Create a New Course</h2>



<form method="POST" enctype="multipart/form-data" class="create-course-form">
    <label>Title:</label>
    <input type="text" name="title" required><br>

    <label>Description:</label>
    <textarea name="description" required></textarea><br>


    <label>Image:</label>
    <input type="file" name="image" accept="image/*"><br><br>

    <button type="submit">Create Course</button>
</form>
{% endblock %}